@import "./normalize";
@import "./variables";
body {
  background-color: $offWhite;
}
.btn {
  width: 185px;
  height: 48px;
  letter-spacing: 4.38px;
}
.softRedBg {
  background-color: $softRed;
}
.softRed {
  color: $softRed;
}
.grayishBlueDark {
  color: $grayishBlueDark;
}
.darkBlue {
  color: $darkBlue;
}
.bg-darkBlue {
  background-color: $darkBlue;
}
.softOrange {
  color: $softOrange;
}
.navbar {
  background-color: $offWhite;
}
.nav-link {
  color: $darkBlue;
  font-size: 18px;
}
.btn-close {
  font-size: 32px;
}
.card-title {
  @include titleFontSize;
}
.new {
  @include subtitleFontSize;
}
.list-group-item {
  border: solid 0.5px $grayishBlueDark;
}
.list-group-item_title {
  color: $offWhite;
  @include titleFontSize;
}
.list-group-item_text {
  color: $grayishBlue;
}
.card-sublilte {
  font-size: 18px;
  @include subtitleFontSize;
  margin-top: 12px;
  color: $darkBlue;
}
.card-text {
  font-size: 15px;
  color: $grayishBlueDark;
}
.img-fluid {
  width: 100px;
  height: 127px;
}
.btn:hover {
  cursor: pointer;
  background-color: $darkBlue;
  color: $offWhite;
}
.list-group-item_title:hover {
  cursor: pointer;
  color: $softOrange;
}
.card-sublilte:hover,
.nav-link:hover {
  cursor: pointer;
  color: $softRed;
}
@media (max-width: 375px) {
  .card-new {
    max-width: 343px;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  .content {
    max-width: 1110px;
    margin: auto;
  }
  .lg {
    font-size: 56px;
  }
  .card-img-top {
    height: 300px;
  }
  .card-new {
    height: 511px;
  }
  .list-group-item_title {
    margin-top: 31px;
  }
}
